/* 컨테이너 설정 */
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 80vh; /* 화면 높이를 조정하여 상단으로 이동 */
  margin-top: 30px;
  position: relative; /* 버튼 위치 고정을 위한 설정 */
  padding: 20px;
  overflow: hidden;
}

/* 제목 스타일 */
h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-top: 5px;
  /* h2 요소의 상단 여백 제거 */
  margin-bottom: 5px;
  /* 슬라이더와의 간격 최소화 */
  color: #b57d52;
  /* 따뜻한 브라운 */
  font-weight: 700;
}

/* 슬라이더 */
.slider {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -5px;
  /* 슬라이더 위쪽 여백 줄임 */
  margin-bottom: 10px;
  /* 아래쪽 여백 조정 */
}

.slider-wrapper {
  display: flex;
  transition: transform 0.75s ease-in-out;
  align-items: center;
}

/* 카드 레이아웃 */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.card {
  background-color: white;
  /* 카드 배경색 */
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  /* 카드 간 간격 */
  flex: 1 1 calc(25% - 20px);
  /* 카드 너비 */
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
  min-width: 350px;
  /* 최소 너비 */
  max-width: 800px;
  /* 최대 너비 */
  min-height: 130px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* 호버 시 그림자 효과 */
}

.card img {
  width: 100%;
  /* 카드 너비에 맞춤 */
  height: auto;
  /* 비율 유지 */
  border-radius: 8px;
  /* 둥근 모서리 */
  margin-bottom: 0;
  /* 아래쪽 여백 제거 */
}

.card h3 {
  text-align: center;
  font-size: 18px;
  /* 제목 크기 */
  margin: 10px 0;
  color: #4a3f35;
  /* 제목 색상 */
}

.card p {
  text-align: center;
  margin: 5px 0;
  color: #666;
  /* 설명 텍스트 색상 */
}

.card-info {
  display: flex;
  flex-direction: column;
  /* 세로 방향 정렬 */
  justify-content: center;
  text-align: left;
  /* 텍스트 왼쪽 정렬 */
}

.card-info .author-pub {
  font-size: 14px;
  margin: 5px 0;
  color: #000000;
  /* 저자 및 출판사 색상 */
}

.card-info .like-rating {
  font-size: 15px;
  /* 글자 크기 */
  margin: 5px 0;
  display: flex;
  justify-content: flex-start;
  /* 왼쪽 정렬 */
  align-items: center;
  /* 수직 정렬 */
  color: #333;
  /* 텍스트 색상 */
  justify-content: center;
}

.text-decoration-none {
  text-decoration: none;
}

/* 섹션 전환 버튼 */
.control-button {
  position: absolute;
  top: 15%;
  transform: translateY(-50%);
  background-color: #b57d52;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 10%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.control-button:hover {
  background-color: #a0694a;
}

.prev-button {
  left: 40px;
}

.next-button {
  right: 40px;
}

/* 섹션 스타일 */
.section {
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
  overflow: hidden;
}

.active-section {
  opacity: 1;
  transform: translateX(0);
}

.prev-section {
  transform: translateX(-100%);
}
